# Images not included are
Amazon Black.png
amazonLogo.png
heroImg.jpg
img_1.jpg
img_6.jpg
img_8.jpg
# 
img2.jpg
img3.jpg
img4.jpg
img5.jpg
img6.jpg
img7.jpg
img8.jpg
img9.jpg
img1.jpg
